# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# Inspired by PorePy's GitHub Actions workflows:
#
name: Publish Docker image for main branch
permissions:
  contents: read

on:
  push:
    branches:
       - docker


jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push main
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./dockerfiles/.devcontainer/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/main:latest